.page-container {
  width:1230px;
  height:500px;
  MARGIN-RIGHT: auto;
  MARGIN-LEFT: auto;
}
.aside {
  width: 120px;
  float: left;
}
.main {
  float: left;
  padding: 20px;
  width: 900px;
}
ul {
  list-style: none;
}
.aside > ul {
  padding: 0px;
  width: 120px;
  background-color: beige;
  font-size: 20px;
}
.aside li:nth-child(1) {
  background-color: #3F95E5;
}
.aside li {
  margin-top: 5px;
  border-bottom: 1px dotted #666;
}
a {
  text-decoration: none;
  color: black;
}
.partition {
  width: 400px;
  float: left;
}
.partition li {
  float: left;
  margin-left: 5px;
  border-right: 1px solid red;
  padding-right: 5px;
  font-size: 15px;
}
.partition_href {
  color: #9694E5;
}
.partition_a {
  margin: 15px auto 0px;
}
