#zhu {
  width: 1350px;
  MARGIN-RIGHT: auto;
  MARGIN-LEFT: auto;
  height: 50px;
  background-color: white;
  margin-top: -10px;
  float: left;
  box-shadow: 0px 12px 8px -12px #000;
  z-index: 10;
}


.dao_ul {
  margin: 0px;
}

.dao_ul li {
  float: left;
  height: 40px;
  list-style: none;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  line-height: 40px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}
